*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: cadetblue;
}

h1{
    text-align: center;
}

div {
    position: relative;
    margin-left: 5%;
    background-color: aqua;
}

h3{
    margin: 0px;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px black;
    border-style: solid;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.heading1{
    background-color: brown;
}

.heading2{
    background-color: yellow;
}

.heading3{
    background-color: green;
}

p{
    padding: 5%;
}

/*LARGE DEVICES*/

@media (min-width: 992px){
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 
    .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, 
    .col-lg-11, .col-lg-12 {
        float: left;
        border: 1px black;
        border-style: solid;
        margin: 10px;
        
    } 
    
    .col-lg-4 {
        width: 30%;
    }

}

/*MEDIUM DEVICES*/

@media (min-width: 768px) and (max-width: 991px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, 
    .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, 
    .col-md-11, .col-md-12 {
        float: left;
        border: 1px black;
        border-style: solid;
        margin: 10px;
        
    } 

    .col-md-6 {
        width: 45%;
    }

    .col-md-12 {
        width: 93%;
    }
}

/*SMALL DEVICES*/

@media (max-width: 767px){
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, 
    .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, 
    .col-sm-11, .col-sm-12 {
        float: left;
        border: 1px black;
        border-style: solid;
        margin: 10px;
    } 

    .col-sm-12 {
        width: 90%;
    }
}